  
  <footer class="footer">
            <p class="text-muted">&copy; Amarnath Thillai 2017 - 3017. All rights reserved</p>
          </footer>

      </div><!-- /#content -->
    </div><!-- /#main -->

    <!-- Scripts -->
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/smoothScroll.js"></script>
    <script src="/js/main.js"></script>

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <script src="/js/themeswitcher.js"></script>


    <script>
      new WOW().init();
    </script>

</body>
</html>