<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Amarnath Thillai">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Amarnath's Blog</title>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">-->
    <!--<link rel="stylesheet" href="/stylesheets/app.css">-->
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <!-- Styles -->
    <link href="/stylesheets/anthem.css" rel="stylesheet">
    <link href="/stylesheets/anthem-themes.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <link href="/public/css/themeswitcher.css" rel="stylesheet">

     <!-- Loading bar -->
    <script src="/js/pace.min.js"></script>




</head>
<body>
 <!--<div class="ui fixed inverted menu">
    <div class="header item"><i class="buysellads icon"></i> Amar's Blog</div>
    <a href="/" class="item">Home</a>
    <a href="/blogs/new" class="item">New Blog</a>
</div>-->

    