<% include partials/header.ejs %>
<%include partials/markdowneditor.ejs%>
<div class="ui main text container segment">
    <div class="ui huge header"> Edit <%= blog.title %> </div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
        <div class="field">
            <lable>Title</lable>
            <input type="text" class="" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <lable>Image</lable>
            <input type="text" class="" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <lable>Content</lable>
            <textarea id="markdowneditor" name="blog[body]"> <%= blog.body %></textarea>
        </div>

        <button type="submit" class="positive ui button">Update Blog</button>
    </form>
</div>

<% include partials/footer.ejs %>