<% include ./partials/header.ejs %>
 <div id="main">
      <div id="intro" class="col-md-12">

        <header>
          <div class="content text-center wow fadeIn">

            <a href="/blogs#open">
              <img class="brand wow zoomIn" alt="Paul Laros" height="160" width="160" src="/img/avatar.png">
            </a>
            <h1>Amarnath Thillai</h1>
            <p>A friendly 21st century tech savvy Full stack web developer Passionate about making the web a better place .</p>
            <p>
              <a href="#open" class="toggle-fullscreen btn btn-default btn-outline btn-lg wow tada hidden-xs hidden-sm">Blog</a> 
              <a href="https://about-amarnaththillai.rhcloud.com" class="btn btn-outline btn-default btn-lg">About</a>
              <a href="https://about-amarnaththillai.rhcloud.com" class="btn btn-outline btn-default btn-lg">Contact</a>
            </p>
          </div>
        </header>

      </div><!-- /#intro -->
  <div id="content" class="col-md-8 col-md-offset-4">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
              <li><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active wow" id="posts">
            <% blogs.forEach( function (blog) { %>
             <section class="post featured wow fadeIn">
                 <div class="media-left holder">
                  <a href="#">
                    <img class="media-object" src="<%= blog.image %>" alt="...">
                  </a>
                </div>
                 <div class="media-body">
                    <div class="media-heading">
                        <header>
                    <h2 class="title">
                      <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                    </h2>
                  </header>

                    </div>
                    <div class="description">
                    <p>
                      <%- blog.body.substring(0, 100) %> <span style="font-size: 1.0em "> <a  href="/blogs/<%= blog._id %>">read more </a></span>
                    </p>
                  </div>
                 </div>


                
                    <footer>
                    <div class="meta">
                        <a class="auther" href="author.html">Amarnath Thillai</a>  ● <a class="date" href="date.html"><span><%= blog.created.toDateString() %></span></a>
                    </div>
                    </footer>
                </section>
            <% }); %>
         </div>
      </div>
  </div>
  </div>
<% include ./partials/footer.ejs %>
