<%include partials/header.ejs%>
<%include partials/markdowneditor.ejs%>

<div class="ui main text container segment">
    <div class="ui huge header"> New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <lable>Title</lable>
            <input type="text" class="" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <lable>Image</lable>
            <input type="text" class="" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <lable>Content</lable>
            <textarea id="markdowneditor" name="blog[body]" placeholder="Blog post goes here..!"></textarea>
        </div>

        <button type="submit" class="positive ui button">Post Blog</button>
    </form>
</div>

<%include partials/footer.ejs %>