<%include partials/header.ejs%>

  <div id="main">
      <a class="page-brand" href="/blogs#open">
        <img class="brand wow zoomIn" alt="Paul Laros" height="80" width="80" src="/img/avatar.png">
      </a>

      <header class="parallax-window" data-parallax="scroll" data-image-src="<%=blog.image%>" data-speed="0.8"></header>
    
      <div id="content" class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <section class="post single wow fadeIn">
              <header>
                <h1 class="title">
                 # <%= blog.title%>
                </h1>
                <p class="meta">
                  <a class="auther" href="author.html">Amarnath Thillai</a> ● <a class="date" href="date.html"><span><%=blog.created.toDateString() %></span></a>
                </p>
              </header>
              <div class="description">
                <p>
                <%-blog.body%>
                </p>
              </div>
            </section>

            <div id="disqus_thread"></div>


          </div><!-- /.col-md-10 .col-md-offset-1 -->
        </div><!-- /.row -->

      </div><!-- /#content -->
    </div><!-- /#main -->

<%include partials/footer.ejs %>
