/*i.icon{*/
    /*font-size: 2em;*/
/*}*/
/*.container.main {*/
    /*margin-top: 7.0em;*/
/*}*/
/*#delete {*/
    /*display: inline;*/
/*}*/
  .holder img {
      max-height: 124px;
      max-width: 124px;
    }
